.publication-container {
    margin: 0 200px;
}

.publication-container p {
    font-size: 20px;
    margin: 20px 0;
}

.publication-container h2 {
    margin-top: 50px;
}


/* ----- media query ----------- */

@media (max-width: 1200px){
    .publication-container{
        margin: 0 20px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .publication-container p {
        font-size: 16px;
    }

    .publication-container h2 {
        font-size: 20px;
    }
}