.leader{
    margin-top: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    justify-content: space-between;
    width: 90%;
}
.leader-left{
    flex-basis: 70%;
    justify-content: center;
    align-items: top;
    position: relative;
}
.leader-right{

    flex-basis: 30%;
    display: flex;
    flex-direction: column; /* 垂直方向排列子元素 */
    align-items: center; /* 子元素居中对齐 */
    

}
.leader-img{
    width: 70%;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}


.leader h3{
    font-weight: 600;
    font-weight: 16px;
    color: #10245c;
    margin-top: 20px;
    margin-bottom: 20px;
}
.leader h2{
   font-size: 35px;
   color: #10245c;
   margin: 10px 0;
   max-width: 400px;
}
.leader-right p{
    color: #676767;
    margin-bottom: 40px;
    text-align: justify;
}

.leader-right a{
    color: #676767;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: justify;
}

.leader-left p {
    color: #676767;
    margin-bottom: 10px;
}

.icon {
    width: 30px;
    color: #10245c;
}

.members-container{
    margin: 60px auto;
    width: 90%;
}

.members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.member-img{
    width: 100%; /* 根据需要调整图片的宽度 */
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.member h3 {
    margin-bottom: 10px;
    text-align: center;
}

.member {
    margin: 0 20px;
    padding: 40px;
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.member p {
    
    text-align: center;
}





/* ------- media query ------------- */
@media (max-width: 800px){
    .leader{
        flex-direction: column;
    }

    .leader-img {
        width: 60%;
    }
    .leader-left{
        flex-basis: 100%;
        margin: 20px;
        order: 1;
        justify-content: center;

    }
    .leader-right{
        flex-basis: 100%;
        justify-content: center;
    }

        
    .leader h3{
        font-weight: 600;
        font-weight: 16px;
        color: #10245c;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .leader h2{
        font-size: 25px;
        color: #10245c;
        margin: 10px 0;
        max-width: 400px;
        text-align: center;

    }

    .member {
        display: flex;
        justify-content: center;
        width: 80%;
    }



}