.about{
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.about-left{
    flex-basis: 68%;
    position: relative;
}
.about-right{
    flex-basis: 32%;
}
.about-img{
    width: 70%;
    border-radius: 10px;
}
.play-icon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.about h3{
    font-weight: 16px;
    color: #10245c;
    margin-top: 20px;

}
.about h2{
   font-size: 35px;
   color: #10245c;
   margin: 10px 0;
   max-width: 400px;
}
.about p{
    color: #676767;
    margin-bottom: 15px;
    text-align: justify;
}
/* ------- media query ------------- */
@media (max-width: 800px){
    .about{
        flex-direction: column;
        justify-content: center;
    }

    .about-img {
        width: 100%;
        padding: 30px;
    }
    .about-left{
        flex-basis: 100%;
        
        order: 1;
    }
    .about-right{
        flex-basis: 100%;
    }

    .about h2 {
        font-size: 30px;
    }

}